.top-header {
  background-color: #ffff;
  color: #4a2c82;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0; /* Ajusta el padding para un diseño compacto */
}

.app-bar {
  background-color: #6439FF;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between; /* Asegura espacio entre los elementos */
  align-items: center;
  width: 100%;
  position: fixed;
  top: 50px; /* Ajusta esta propiedad para que quede debajo de `top-header` */
  left: 0;
  z-index: 999; /* Asegúrate de que tenga una menor prioridad que `top-header` */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.app-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 1200px;
  margin: 0 auto; /* Centra el contenido */
}

.logo-section img {
  height: 80px;
  object-fit: contain;
}


.title-image {
  width: 100px; /* Tamaño ajustado para que no ocupe tanto espacio */
  height: auto;
  margin-right: 20px;
}
/*menu-toggle */

.navbar-icons ul {
  display: flex;
  gap: 1rem; /* Espacio entre los íconos */
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-icons ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.navbar-icons li {
  display: flex;
  align-items: center;
}

.icon {
  height: 24px; /* Tamaño del ícono */
  width: 24px;
  color: #fff; /* Color blanco para destacar en fondo azul */
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.icon:hover {
  transform: scale(1.2); /* Efecto de agrandamiento al pasar el mouse */
  color: #ffcc00; /* Cambio de color en hover */
}
/*sign-out-button*/
.sign-out-button {
  border-radius: 35px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #e94282;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s, transform 0.15s;
}

button:hover {
  background-color: #8f0360;
}
/*register-button*/
.register-button {
  border-radius: 35px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #e94282;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s, transform 0.15s;
}

button:hover {
  background-color: #8f0360;
}



/* Estilos para el menú lateral */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  background-color: #6439FF;
  color: white;
  padding: 20px;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.mobile-menu.open {
  transform: translateX(0);
}


.mobile-menu ul {
  list-style: none;
  padding: 0;
}

.mobile-menu li {
  margin: 10px 0;
}

.mobile-menu li button,
.mobile-menu li a {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Estilos responsivos */
@media (max-width: 1099px) {
  .app-bar-content {
    justify-content: space-between;
  }

  .navbar-icons {
    display: none; /* Ocultamos los íconos de navegación en pantallas pequeñas */
  }

  .menu-toggle {
    display: block; /* Mostramos el botón de menú */
  }

  .mobile-menu {
    display: flex; /* Hacemos visible el menú lateral */
    flex-direction: column;
    max-width: 15%;
  }

  .title-image {
    width: 95px; /* Tamaño ajustado para que no ocupe tanto espacio */
    height: auto;
    margin-right: 20px;
  }
}

@media (min-width: 1100px) {
  .mobile-menu {
    display: none; /* Ocultamos el menú lateral en pantallas grandes */
  }

  .menu-toggle {
    display: none; /* Ocultamos el botón de menú en pantallas grandes */
  }

  .navbar-icons {
    display: flex; /* Mostramos los íconos de navegación */
  }
}
