.app-bar {
  background: linear-gradient(135deg, #0052cc, #003d99);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.app-bar-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
}

.logo-section {
  display: flex;
  align-items: center;
}

.title-image {
  width: 60px; /* Ajusta el tamaño del logo */
  height: auto;
}

.navbar-search input {
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  width: 200px;
  outline: none;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px; /* Barra lateral se oculta en el lado derecho */
  width: 250px;
  height: 100%;
  background-color: #003d99;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  transition: right 0.3s ease;
  z-index: 1001;
}

.sidebar.open {
  right: 0; /* Barra lateral se despliega desde el lado derecho */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 1rem 0;
}

.sidebar .icon {
  width: 30px;
  height: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2rem;
  z-index: 1002;
  border-radius: 8px;
}

.modal-content {
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
