/* Estilos para el carrusel de im치genes */
.image-carousel {
  width: 54%;
  height: 536px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: 25px;
  left: 410px;
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que las im치genes se ajusten al contenedor */
    margin-top: 126px;
    margin-left: -107px;
}

.carousel-image {
  width: 58%;
  height: 131%;
  object-fit: cover; /* Asegura que las im치genes se ajusten al contenedor */
  width: 100%;
  height: 400px; /* Altura del carrusel */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: 149px; /* Espacio debajo del navbar */
  
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que las im치genes se ajusten al contenedor */
}
