.footer {
  background-color: #0052cc;
    color: white;
    text-align: center;
    padding: 1rem 1.5em;
    width: 99%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-link:hover {
  text-decoration: underline;
}
